<md-card>
  <md-card-title>Signup</md-card-title>
  <md-card-content>
    <form>
      <md-input-container class="half-width">
        <input mdInput placeholder="First Name">
      </md-input-container>
      <md-input-container class="half-width pull-right">
        <input mdInput placeholder="Last Name">
      </md-input-container>
      <md-select placeholder="Gender" class="full-width">
        <md-option value="MALE">Male</md-option>
        <md-option value="FEMALE">Female</md-option>
        <md-option value="OTHERS">Others</md-option>
      </md-select>
      <md-input-container class="full-width">
        <input mdInput placeholder="Email ID">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput placeholder="Password">
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput placeholder="Retype Password">
      </md-input-container>
      <button md-raised-button color="primary" class="full-width">SIGN UP</button>
    </form>
  </md-card-content>
  <md-card-actions>
    <a>Create new Account</a>
  </md-card-actions>
</md-card>
