md-card {
    max-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-style: preserve-3d;
}

md-card-actions {
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

md-card-actions a {
    color: #666;
    cursor: pointer;
}

md-card-actions a:hover {
    color: #333;
    text-decoration: underline;
}

button {
    margin-top: 1em;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.pull-right {
    float: right;
}

md-select{
    font-size: 15px;
    margin: 1em 0;
    width: 100%;
}

.mat-select-trigger {
    font-size: 14px;
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 2em;
}

.message .msg {
    font-size: .5em;
    margin-top: 1em;
}

.mat-spinner {
    height: 1em;
    width: 1em;
    margin: auto;
}

@media(max-width: 767px) {
    md-card {
        min-width: 60%;
        margin: auto;
    }
}

@media(max-width: 481px) {
    md-card {
        min-width: 80%;
        margin: auto;
    }
}
