.spacer {
    flex: 1 1 auto;
}

md-sidenav {
  width: 200px;
}

.app-content {
    padding: 20px;
}

.screen {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    flex-direction: column;
    background: #5e35b1;
}
